.slider-container {
	width: 60%; /* Adjust the width as needed */
	height: 50vh;
	position: relative;
	top: 40px;
	left: 320px;
  }
  
  .awssld__content {
	height: 100%;
  }
  
  .awssld__wrapper {
	height: 100%;
  }
  
  .awssld__content > img {
	object-fit: contain; /* Cover the entire area of the slider */
	object-position: center; /* Center the image within the slider */
	width: 100%;
	height: 100%;
  }
